{% extends 'base.twig' %}

{% block main %}

    <form action="../routes/Accueil.php" method="post" class="flex gap-2">
        <div class="flex-1 flex gap-2 items-center">
            <label for="titre">Titre :</label>
            <select class="select2 flex-1" id="titre" name="titre"
                    data-source="../async/getOptions.php?field=titre"></select>
        </div>

        <div class="flex-1 flex gap-2 items-center">
            <label for="auteur">Auteur :</label>
            <select class="select2 flex-1" id="auteur" name="auteur"
                    data-source="../async/getOptions.php?field=auteur"></select>
        </div>

        <div class="flex-1 flex gap-2 items-center">
            <label for="editeur">Editeur :</label>
            <select class="select2 flex-1" id="editeur" name="editeur"
                    data-source="../async/getOptions.php?field=editeur"></select>
        </div>

        <div class="flex-1 flex gap-2 items-center">
            <p>Disponible :</p>
            <label for="disponibleoui">Oui</label>
            <input type="radio" id="disponibleoui" name="disponible">

            <label for="disponiblenon">Non</label>
            <input type="radio" id="disponiblenon" name="disponible">

            <label for="disponiblepeuimporte">Peu importe</label>
            <input type="radio" id="disponiblepeuimporte" name="disponible" checked>
        </div>

        <div class="mx-auto">
            <button type="submit"
                    class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 w-full">
                Rechercher
            </button>
        </div>
    </form>

    <table>
        <thead>
        <tr>
            <th>Titre</th>
            <th>Genre</th>
            <th>Auteur</th>
        </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.genre }}</td>
                <td>{{ livre.auteur }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        // $(document).ready(function() {
        //     $('.select2').select2({
        //         placeholder: "Sélectionnez une option",
        //         ajax: {
        //             url: function () {
        //                 return $(this).data('source');
        //             },
        //             dataType: 'json',
        //             processResults: function(data) {
        //                 return {
        //                     results: data
        //                 };
        //             }
        //         }
        //     });
        // });
        $(document).ready(function () {
            $('.select2').each(function () {
                let $select = $(this);
                let sourceUrl = $select.data('source');

                // Récupérez les options en utilisant une requête AJAX
                $.ajax({
                    url: sourceUrl,
                    dataType: 'json',
                    success: function (data) {
                        data.unshift({"id": '', "text": ''});
                        // Utilisez les données récupérées comme source statique pour Select2
                        $select.select2({
                            placeholder: "Sélectionnez une option",
                            data: data // Utilisez le tableau JSON récupéré
                        });
                    }
                });
            });
        });
        // $(document).ready(function() {
        //     $('.select2').select2({
        //         placeholder: "Sélectionnez une option",
        //         data: [
        //             { "id": 1, "text": "Option 1" },
        //             { "id": 2, "text": "Option 2" },
        //             { "id": 3, "text": "Option 3" },
        //             { "id": 4, "text": "Option 4" },
        //             { "id": 5, "text": "Option 5" }
        //         ]
        //     });
        // });
    </script>


{% endblock %}


