<!DOCTYPE html>
<html lang="fr" class="font-manrope no-scrollbar text-base">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../dist/output.css" rel="stylesheet">
    <title>SQL Project | {% block title %}{{ title }}{% endblock %}</title>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body class="flex flex-col min-h-screen bg-white text-slate-900 ">

<header class="border-b shadow-top-2xl mb-5">
    {% set currentUser = getCurrentUser() %}
    <div class="container mx-auto flex items-center justify-between py-5">

        <a href="../controller/Accueil.php">
            <img src="../assets/MDSLogo.png" alt="" class="h-12">
        </a>

        <h1 class="font-bold text-center">SQL Project</h1>

        <nav class="flex items-center gap-8">

            <button id="searchLivreButton">Chercher un livre</button>
            {% if currentUser.id is not defined %}
                <a href="../controller/Login.php">Connexion</a>
            {% elseif currentUser.role == "gestionnaire" %}
                <a href="../controller/Abonne.php">Chercher un abonné</a>
                <a href="../controller/CreateAbonne.php">Créer un abonné</a>
                {% elseif currentUser.role == "abonne" %}
                    <a href="../controller/AbonneProfile.php?id={{ currentUser.id_abonne }}">Mon compte</a>
            {% endif %}
            {% if currentUser.id is defined %}
                <a href="../controller/Logout.php">Déconnexion</a>
            {% endif %}
        </nav>

    </div>
</header>

<main class="container mx-auto flex-1 flex flex-col justify-center items-center">
    {% block main %}{% endblock %}
</main>

<footer class="border-t shadow-bottom-2xl mt-5">
    <section class="container mx-auto flex justify-between items-center py-5 ">
        <a href="https://github.com/Deadrix" target="_blank" class="flex gap-2 items-center">
            <img src="../assets/GitHubLogo.png" alt="" class="h-10">
            <p>Bouriche Alexandre</p>
        </a>
        <div class="flex gap-4">
            <a href="../controller/Accueil.php">
                <img src="../assets/MDSLogo.png" alt="" class="h-10">
            </a>
            <img src="../assets/MySQLLogo.png" alt="" class="h-10">
            <img src="../assets/TwigLogo.png" alt="" class="h-10">
        </div>
    </section>
</footer>

<script>
    $(document).ready(function () {
        let searchLivreButton = $("#searchLivreButton");
        let searchLivre = $("#searchLivre");
        searchLivreButton.click(function () {
            if (window.location.href.indexOf("Accueil") > -1) {
                if (searchLivre.is(':visible')) {
                    searchLivre.slideUp("slow");
                } else {
                    searchLivre.slideDown("slow");
                }
            } else {
                window.location.href = "../controller/Accueil.php";
            }
        });
    });
</script>

</body>
</html>